<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <code><pre>
# autoload.js
try {
    $(&quot;&lt;link&gt;&quot;).attr({href: &quot;assets/waifu.min.css?v=1.4.2&quot;, rel: &quot;stylesheet&quot;, type: &quot;text/css&quot;}).appendTo(&#x27;head&#x27;);
    $(&#x27;body&#x27;).append(&#x27;&lt;div class=&quot;waifu&quot;&gt;&lt;div class=&quot;waifu-tips&quot;&gt;&lt;/div&gt;&lt;canvas id=&quot;live2d&quot; class=&quot;live2d&quot;&gt;&lt;/canvas&gt;&lt;div class=&quot;waifu-tool&quot;&gt;&lt;span class=&quot;fui-home&quot;&gt;&lt;/span&gt; &lt;span class=&quot;fui-chat&quot;&gt;&lt;/span&gt; &lt;span class=&quot;fui-eye&quot;&gt;&lt;/span&gt; &lt;span class=&quot;fui-user&quot;&gt;&lt;/span&gt; &lt;span class=&quot;fui-photo&quot;&gt;&lt;/span&gt; &lt;span class=&quot;fui-info-circle&quot;&gt;&lt;/span&gt; &lt;span class=&quot;fui-cross&quot;&gt;&lt;/span&gt;&lt;/div&gt;&lt;/div&gt;&#x27;);
    $.ajax({url: &#x27;assets/waifu-tips.min.js?v=1.4.2&#x27;,dataType:&quot;script&quot;, cache: true, async: false});
    $.ajax({url: &#x27;assets/live2d.min.js?v=1.0.5&#x27;,dataType:&quot;script&quot;, cache: true, async: false});
    /* 可直接修改部分参数 */
    live2d_settings[&#x27;hitokotoAPI&#x27;] = &#x27;hitokoto.cn&#x27;;  // 一言 API
    live2d_settings[&#x27;modelId&#x27;] = 5;                  // 默认模型 ID
    live2d_settings[&#x27;modelTexturesId&#x27;] = 1;          // 默认材质 ID
    live2d_settings[&#x27;modelStorage&#x27;] = false;         // 不储存模型 ID
    /* 在 initModel 前添加 */
    initModel(&#x27;assets/waifu-tips.json&#x27;);
} catch(err) { console.log(&#x27;[Error] JQuery is not defined.&#x27;) }
    </pre></code>

    <!-- waifu-tips.js 依赖 JQuery 库 -->
    <script src="assets/live2d/jquery.min.js?v=3.3.1"></script>

    <!-- 实现拖动效果，需引入 JQuery UI -->
    <script src="assets/live2d/jquery-ui.min.js?v=1.12.1"></script>

    <!-- 使用 aotuload.js 引入看板娘 -->
    <script src="assets/live2d/autoload.js?v=1.4.2"></script>
</body>
</html>
